<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="index.css" />

    <ul>
      <div class="home-space">
        <li><a class="active home-btn" href="#home">Home</a></li>
      </div>

      <li><a href="#news" class="login-btn">Stock</a></li>
      <li><a href="#contact " class="contact-btn">About</a></li>
      <li><a href="#about " class="about-btn">SignUp</a></li>
    </ul>
    <title>Document</title>
  </head>
  <body>
    <h1>Enter Supplier</h1>
    <div class="space-around-manager-login">
      <div class="manager-login">
        <h4>Please enter the Supplier Details</h4>
        <form action="">
          <div class="imgcontainer">
            <img src="/images/flowers.jpg" alt="Avatar" class="avatar" />
          </div>
          <label for="fname">Supplier Name</label><br />
          <input type="text" id="fname" name="fname" value="" /><br />
          <br />
          <label for="fname">Supplier Location</label><br />
          <input type="text" id="Sname" name="Sname" value="" /><br />
          <br />
          <label for="fname">Contact</label><br />
          <input type="email" id="email" name="email" value="" /><br />
          <br />
          <label for="lname">Product Supplied</label><br />
          <input
            type="password"
            id="password"
            name="password"
            value=""
          /><br /><br />
          <label for="fname">Selling Price</label><br />
          <input type="email" id="email" name="email" value="" /><br />
          <br />

    
         
          <label for="lname">Date of Sale:</label><br />
          <input
            type="date"
            id="password"
            name="password"
            value=""
          /><br /><br />
         
          /><br /><br />
          <input type="submit" value="Submit" />
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>

          <div class="lower-login-section" style="background-color: #f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="password">Forgot <a href="#">password?</a></span>
            <span class="create-account"
              >Have no account? <a href="#"> Create One</a></span
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
