<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="index.css" />

    <ul>
      <div class="home-space">
        <li><a class="active home-btn" href="#home">Home</a></li>
      </div>

      <li><a href="#news" class="login-btn">Stock</a></li>
      <li><a href="#contact " class="contact-btn">About</a></li>
      <li><a href="#about " class="about-btn">Login</a></li>
    </ul>
  </head>
  <body>
    <h1>Welcome To KGL stores</h1>

    <div class="welcome-message">
      <div class="message">
        <!-- <p class="intro-p1">You are most welcome to KGL groceries.</p>
        <p class="intro-p2">We are pleased to have you here.</p>
        <p class="intro-p3">Please feel at home</p> -->

        <p class="intro-p1">
          You are most welcome to KGL groceries. We are pleased to have you
          here. Please feel at home.  You are most welcome to KGL groceries.
        </p>

        <p class="intro-p2">
         A unique embodiment of class, quality customer care.We seek to serve you at every opportune moment. 
          We seek to serve you at every opportune moment.
        </p>
        <p class="intro-p3">
          You are most welcome to KGL groceries. We are pleased to have you
          here. Please feel at home.  You are most welcome to KGL groceries.
       

        <p class="intro-p2">
          We seek to serve you at every opportune moment.  We seek to serve you at every opportune moment.
        </p>
         </p>
        
      </div>
      <div class="welcome-images">
        '
        <img class="grocery-image" src="/images/grocery-img1.jpg" alt="" />
      </div>
    </div>

    <section>
       <div>
        <h1 class="">About us</h1>

        <div class="about-us">
        <p>
          Mubiru Wholesale and Retail Shop is a grocery store located in Kansanga Market, owned and operated by 
Mr. Mubiru Abdullah, a 55-year-old businessman. 
        </p>
           

        <p>
          The shop specializes in wholesale food items such as beans, groundnuts, and posho flour, while also retailing various household kitchen essentials.
        </p>

        <p>

 Mr. Mubiru employs two staff members who assist in the daily operations of the business.
        </p>

        <p>
          Mubiru Wholesale and Retail Shop is a grocery store located in Kansanga Market, owned and operated by 
Mr. Mubiru Abdullah, a 55-year-old businessman. 

        </p>

        <p>
          The shop specializes in wholesale food items such as beans, groundnuts, and posho flour, while also retailing various household kitchen essentials.

        </p>

        <p>
          Mr. Mubiru employs two staff members who assist in the daily operations of the business.
        </p>

        <p>
          Mubiru Wholesale and Retail Shop is a grocery store located in Kansanga Market, owned and operated by 
Mr. Mubiru Abdullah, a 55-year-old businessman. 
        </p>
           

        <p>
          The shop specializes in wholesale food items such as beans, groundnuts, and posho flour, while also retailing various household kitchen essentials.
        </p>

        <p>

 Mr. Mubiru employs two staff members who assist in the daily operations of the business.
        </p>

       
      </div>
       </div>
     
    </section>
<!-- 
    <section>
      <div>
        <h1>Our Products</h1>
        <div class="our-products">

          <div class="carousel-box">
            <img src="/images/Peas.jpg" alt="image" width="200px" height="200px">
          
          </div>

          <div class="carousel-box">
            <img src="/images/Beans.jpg" alt="image" width="200px" height="200px">
          </div>

          <div class="carousel-box">
            <img src="/images/Beans.jpg" alt="image" width="200px" height="200px" border-radios> 
          </div>

        </div>
      </div>
    </section>
  </body>
</html> -->
